H1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 28px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 200, 0)
}

a:hover {
    color: rgb(189, 29, 29)
}

a:active {
    color: rgb(189, 29, 29)
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inicio {
    position: absolute;
    top: 0px;
    left: 0%;
    z-index: 2;
    width: 100%;
}

.begin {
    position: fixed;
    z-index: 3;
    background-color: rgb(74, 34, 34, 0.2);
    width: 100%;
    left: 0%;
    top: 0%;
}

.phrase {
    position: absolute;
    top: 150px;
    z-index: 3;
    left: 250px;
    align-items: center;

    background-image: url(Imagens/hamburguer-inicio.jpg);
}

.comentario {
    position: absolute;
    top: 634px;
    background-color: rgb(189, 29, 29);
    left: 0%;
    height: 500px;
    z-index: 2;
    width: 1520px;
}

.cardapiointrodution {
    position: absolute;
    top: 1134px;
    background-color: rgb(74, 34, 34);
    left: 0%;
    width: 1520px;
    height: 230px;
    z-index: 2;
}

.cardapio {
    position: absolute;
    top: 1364px;
    background-color: rgb(74, 34, 34);
    left: 0%;
    width: 1520px;
    height: 450px;
    z-index: 2;
}

.description {
    position: absolute;
    top: 1814px;
    background-color: rgb(189, 29, 29);
    left: 0%;
    width: 1520px;
    height: 1000px;
    z-index: 2;
}

.Hamburguer {
    position: absolute;
    top: 2854px;
    background-color: rgba(235, 215, 65, 0.2);
    left: 800px;
    z-index: 2;
}

.hamburguerimage {
    position: absolute;
    top: 2854px;
    left: 100px;
    height: 450px;
    z-index: 2;
}

.pizza {
    position: absolute;
    top: 3454px;
    left: 100px;
    right: 800px;
    background-color: rgba(235, 215, 65, 0.2);
    z-index: 2;
}

.pizzaimage {
    position: absolute;
    top: 3454px;
    height: 450px;
    left: 800px;
    z-index: 2;
}

.natural {
    position: absolute;
    top: 3950px;
    left: 0px;
    height: 500px;
    background-color: rgb(74, 34, 34);
    z-index: 2;
    width: 1520px;
}

.naturalimage {
    position: absolute;
    top: 4000px;
    height: 450px;
    left: 800px;
    background-color: rgb(74, 34, 34);
    z-index: 2;
}

.contact {
    background-color: rgb(189, 29, 29);
    position: absolute;
    top: 4450px;
    left: 0%;
    width: 1520px;
    height: 830px;
    z-index: 2;
}

.socialmedia {
    background-color: rgb(255, 200, 0);
    left: 0%;
    width: 100%;
    top: 5280;
    position: absolute;
    height: 300px;
    z-index: 2;
    width: 1520px;
}

.fundo {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: rgba(139, 69, 19, 0.2);
    z-index: 1;
  
}





@media (min-width: 1331px) {}

@media (max-width: 1330px) and (min-width: 768px) {
    .inicio {
        max-width: 100%;
    }

    .Hamburguer {
        font-size: clamp(20px, 25px, 28px);
        left: clamp(600px, 750px, 800px);
        max-width: 800px; min-width: 600px;
        max-height: 300px; min-width: ;
    }

    .pizza {
        font-size: clamp(20px, 25px, 28px);
        right: clamp(300px, 600px, 800px);
        max-width: 800px; min-width: 600px;
       
    }
}

@media (max-width: 767px) and (min-width: 375px) {
    .description {right: 30px; left: 30px;} 
    .pizza {top: 3200px !important }
    .fundoimagem {height: 2000px !important;}
   
}

@media (max-width: 374px) {
    .pizza {top: 3200px !important }
    .fundoimagem {height: 2000px !important;}
   
}

/* SEÇÃO DE EXEMPLO */

/* Isso remove aquela margem que vc tava vendo. Ela fica no body */
body {
    margin: 0; 
}

/* Isso remove a margem padrão de todos os parágrafos */
p {
    margin: 0; 
}

.header-example {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    color: #991c1e;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
}

.menu-example {
    display: flex;
    gap: 30px;
}

.menu-example a {
    color: #f5c662;
    text-transform: uppercase;
}

.hero-example {
    background: url('Imagens/hamburguer-inicio.jpg') 50% 70%/cover no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-title-wrapper {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: white;
}

.hero-title-wrapper h1 {
    text-transform: uppercase;
    color: #991c1e;
    font-size: 72px;
    margin-top: 0;
}

.hero-title-wrapper h1 span {
    color: #f5c662;
}

.hero-title-wrapper p {
    font-size: 27px;
}

.section-example-2 {
    background-color: red;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 150px;
}

.flexbox-example {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.flexbox-lado-1-example {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 300px;
    width: 50%;
}

.flexbox-lado-2-example {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 300px;
    width: 50%;
}