H1 {
    margin: 0%;
    font-size: 35px;
}

h2 {
    font-size: 32px;
    margin: 0%;
}


h4 {
    font-size: 28px;
    margin: 0%;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 200, 0)
}

a:hover {
    color: rgb(189, 29, 29)
}

a:active {
    color: rgb(189, 29, 29)
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0%;
}



p {
    margin: 0%;
}



.inicio {
    margin: 0%;
    z-index: 2;
    width: 100%;
}


.begin {
    z-index: 3;
    background-color: rgb(74, 34, 34, 0.2);
    width: 100%;
    left: 0%;
    top: 0%;
   display: flex;   
}

.linefirst {
  display: flex;
  justify-content: flex-end;
    width: 100%;
  gap: 20px; 
}


.phrase {
    position: absolute;
    z-index: 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.comentario {
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 29, 29);
    z-index: 2;
    margin: 0%;
    padding: 0%;
    gap: 30px;
    }

.comment-grid {
  text-align: center;
  gap: 30px;
  align-items: start;
  margin-bottom: 30px;
}

.comment-grid p {
    color: white;
   
}

.comment-grid img {
    margin-bottom: 20px;
}

.coluna {
    justify-content: space-between;
    gap: 50px;
    row-gap: 50px;
}

.coluna1 {
    justify-content: space-between;
    gap: 50px;
    row-gap: 50px;
}

.coluna2 {
    justify-content: space-between;
    gap: 50px;
    row-gap: 50px;
}


.cardapiointrodution {
    background-color: rgb(74, 34, 34);
    left: 0%;
    width: 100%;
    z-index: 2;
}

.cardapio {
    background-color: rgb(74, 34, 34);
    z-index: 2;
    display: grid;
    width: 100%;
    text-align: center;
    gap: 20px;
}

.cardapio-linha {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.description {

    background-color: rgb(189, 29, 29);
    width: 100%;
    height: 1000px;
    z-index: 2;
}

.Hamburguer {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;

}

.hamburguertext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 180px;
    background-color: rgba(235, 215, 65, 0.2);
    margin-right: 60px;
}

.hamburguerimage {

    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(235, 215, 65, 0.2);
    margin: 0%;
    padding: 0%;
     
}

.pizza {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;    
}

.pizzatext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 180px;
    background-color: rgba(235, 215, 65, 0.2);
    margin-left: 60px;
    padding: 0%;
}

.pizzaimage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(235, 215, 65, 0.2);
    padding: 0%;
}

.natural {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    background-color: rgb(74, 34, 34);
    z-index: 2;
}

.naturaltext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    margin-left: 60px;
    padding: 0%;
    font-size: clamp(18px, 2vw, 25px);
}

.naturalimage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    padding: 0%;
    z-index: 2;
}

.contact {
    background-color: rgb(189, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    padding: 0%;
    margin-right: 60px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    padding: 0%;
    z-index: 2;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.socialmedia {
    background-color: rgb(255, 200, 0);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    gap: 200px;
    z-index: 2;

}

.socialintrodution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    margin-left: 60px;
    padding: 0%;
    gap: 100px;
    gap: 50px;

}


.socialimages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    padding: 0%;
    gap: 40px;
    margin-right: 60px;
}

.fundo {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: rgba(139, 69, 19, 0.2);
    z-index: -1;
    height: 100%;
    display: flex;
  
}

.Fundoimagem {
    display: flex;
}



@media (min-width: 1330px) {

   h3 {
    font-size: 30px; margin: 0%;
}

    .phrase {
    top: 150px;
    }

    .food {
    text-align: center;
    }

    .begin {
        position: fixed;
    }

    .comentario {
        height: 500px;
    }

    .comment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);}

    .cardapio-linha {
    grid-template-columns: repeat(3, 1fr);
    }

    .productostitles {
        display: none;
    }
  
  .hamburguerimage {
    width: 670px;
    height: 400px;
    margin-left: 60px;
    }

    .hamburguertext {
    font-size: 20px;
    }

  .naturalimage {
    width: 670px;
    height: 400px;
    padding-right: 60px;    
    }

.naturaltext {
    font-size: 25px;
}

.pizzaimage {
    width: 670px;
    height: 400px;
    padding-right: 60px;     
    }
.pizzatext {
    font-size: 20px;
}

.fundo {
    display: block;
    width: 100%;
}

.Fundoimagem {
    display: block;
    height: 1270px;}

.imgdekstop {
    display: block;
}

.imgmobile {
    display: none;
    }

}

@media (max-width:1200px) {
    .textdescription {
        text-align: justify;
    }


}

@media (max-width: 1330px) and (min-width: 768px) {

    h3 {
    font-size: clamp(20px, 3vw, 30px); 
    margin: 0%;
}

    .begin {
        position: fixed;
    }


    .food {
    text-align: left;
    }

     .phrase {
    top: 150px;
    }

    .comentario {
        height: 500px;
    }
    
    .comment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);}
   
    .commentimage {
    gap: clamp(30px,14vw, 300px);
     }

    .commentimage img {
    width: clamp(30px, 30vw, 150px);
    
    }


    .commentnames {
    gap: clamp(100px, 30vw, 460px);
        }
    
     .cardapio-linha {
    grid-template-columns: repeat(3, 1fr);
    }
  

    .hamburguerimage {
    width: clamp(300px,30vw,670px);
    height: clamp(200px,20vw,400px);   
    margin-left: 60px;
    }
    

    .hamburguertext {
    font-size: clamp(15px, 2vw, 20px);
    }

    .pizzaimage {
    width: clamp(300px,30vw,670px);
    height: clamp(200px,20vw,400px);
    padding-right: 60px;   
    }

    .pizzatext {
    font-size: clamp(15px, 2vw, 20px);  
    }

    .naturaltext {
    font-size: clamp(16px,2vw,25px);    
    }

    .naturalimage {
    width: clamp(300px,30vw,670px);
    height: clamp(200px,20vw,400px);
    padding-right: 60px;    
    }

    .Fundoimagem {height: clamp(1270px, 78vw, 2000px);}

    .imgdekstop {
    display: block;
    }

    .imgmobile {
    display: none;
    }

    .productostitles {
        display: none;
    }
}



@media (max-width: 768px) {

    .begin {
        justify-content: center;
        position:absolute;
    }

    .linefirst {
        display: none;
    }

     .phrase {
    top: 80px;
    }

    .food {
       
        text-align: center;
    }

    .comentario {
        height: 400px;
        align-items: center;
    }

    .comentario img {
        display: none;
    }

      .comentario p {
    font-size: 30px ;
    text-align: left;
    margin: 10px;
    align-items: center;
    }

    .comment-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    }
    .coluna1 {
        display: none;
    }

    .coluna2 {
        display: none;
    }

     .commentphrase {
        display: none;
    }

    .commentimage {
    display: none;
    }

    .commentcardapio {
    display: none;
    }

     .cardapio-linha {
    grid-template-columns: repeat(1fr);
    }

    .unecessary {
    display: none;
    }

    .description {
    background-color: green;
    height: 450px;
    }

    .productos {
    display: flex;
    flex-direction: column;
    }

    .productos p {
    display: none;
    }
  
    .productos img {
    height: 500px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
        }

    .productos section {
    padding: 0%;
    text-align: center;
    justify-content: center;
    }

    .productostitles {
    z-index: 3;
    position: absolute;
    color: rgb(189, 29, 29);
    }

    .hamburguertext {
    display: none;
    }

    .pizzatext {
    display: none;
    }

    .naturaltext {
    display: none;
    }

    .socialintrodution {
    display: none;
    }

    .socialimages {
    text-align: center;
    }

    .Fundoimagem {
        height: clamp(1270px, 78vw, 2000px);
    }

 
    .imgdekstop {
    display: none;
    }
 
    .imgmobile {
    display: block;
    }
   
}



    .Fundoimagem {
        height: 1800px;
    }

}

@media (max-width: 374px) {
    .firstbotton {
        padding-left: clamp(400px, 40vw, 900px);
        color: red;
    }

    .commentimage {
        gap: clamp(100px, 15vw, 300px);
    }

    .commentnames {
        gap: clamp(100px, 30vw, 460px);
    }

    .hamburguerimage {
        width: clamp(300px, 30vw, 670px);
        height: clamp(200px, 20vw, 400px);
    }

    .pizzaimage {
        width: clamp(300px, 30vw, 670px);
        height: clamp(200px, 20vw, 400px);
    }

    .naturaltext {
        font-size: clamp(18px, 20px, 25px);
    }

    .naturalimage {
        width: clamp(300px, 30vw, 670px);
        height: clamp(200px, 20vw, 400px);
    }

}